.buttonContainer {
    display: flex;
    justify-content: center; /* จัดให้ปุ่มอยู่ตรงกลางแนวนอน */
}
.generate_pdf_button {
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* ตั้งค่า margin ตามที่คุณต้องการ */
}
.a4 {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100px;
  }
  
  .resort-info div {
    text-align: right;
    font-size: 12px;
  }
  
  .booking-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .booking-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
  }
  
  .leftDetails,
  .rightDetails {
    display: flex;
    flex-direction: column;
  }
  
  .table-container {
    margin: 20px 0;
    font-size: 12px;
  }
  
.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header, .table-data {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
  
  .section-title {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }
  
  .conditions-list, .notes-list {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0;
  }
  
  .conditions-list li, .notes-list li {
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .thanks {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  .booking-date {
    margin-bottom: 20px; /* หรือปรับตามความต้องการ */
    font-size: 14px;
  }
  .conditions ul, .notes ul {
    list-style-type: disc; /* แสดงสัญลักษณ์วงกลม */
    padding-left: 20px; /* เพิ่มระยะห่างจากขอบซ้าย เพื่อให้สัญลักษณ์วงกลมแสดงอย่างชัดเจน */
  }
  
  /* หรือหากต้องการกำหนดสไตล์โดยตรงให้กับแท็ก <li> */
  .conditions li, .notes li {
    list-style-type: disc; /* แสดงสัญลักษณ์วงกลม */
    margin-left: 20px; /* เพิ่มระยะห่างจากขอบซ้าย เพื่อให้สัญลักษณ์วงกลมแสดงอย่างชัดเจน */
  }