@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color)); /* ใช้สีพื้นหลังจากตัวแปร */
}

@layer utilities {
  /* คุณสามารถเก็บส่วนนี้ไว้หากคุณต้องการใช้ utility class .text-balance */
  .text-balance {
    text-wrap: balance;
  }
}








