.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; /* พื้นหลังสีขาว */
}
.loginContainer {
  width: 400px; /* กำหนดขนาดของ container ของฟอร์ม */
  /* padding: 10px; */
  border: 1px solid #ffffff; /* ขอบเส้นเล็กๆ สีเทา */
  border-radius: 5px; /* เพิ่มโค้งมนเล็กน้อยที่ขอบ */
  background-color: #ffffff; /* สีพื้นหลังของฟอร์ม */
}

.logo {
  text-align: center;
  margin-top: -150px; /* ปรับค่านี้ตามที่คุณต้องการ */
  /* หรือถ้าคุณต้องการลดระยะห่างจากโลโก้ไปยังองค์ประกอบอื่นๆ */
  margin-bottom: 5px; /* ค่าเดิมอาจจะมากกว่านี้ ลดลงเพื่อให้โลโก้ขยับขึ้น */
}

.logo img {
  width: 300px; /* กำหนดขนาดของโลโก้ */
  height: auto;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input[type="email"], .formGroup input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff; /* สีปุ่ม login */
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

.error {
  color: red; /* หรือสีอื่นๆ ที่ต้องการ */
  margin-top: 10px;
}

.link {
  color: #FFBC4F; /* สีของข้อความลิงก์ */
  text-decoration: none; /* ไม่มีเส้นใต้ */
  padding: 5px 10px; /* ระยะห่างภายในลิงก์ */
  border-radius: 5px; /* ขอบมน */
  transition: background-color 0.3s; /* เอฟเฟกต์เมื่อมีการโฮเวอร์ */
}

.link:hover {
  color: #9b6000; /* สีของข้อความลิงก์ */
}

.loginButtonGoogle {
  background-color: #4285F4; /* สีพื้นหลังของ Google */
  color: white; /* สีข้อความ */
  padding: 10px 15px; /* ระยะห่าง */
  border: none; /* ไม่มีขอบ */
  border-radius: 4px; /* ขอบมน */
  cursor: pointer; /* เปลี่ยน cursor เมื่อชี้ */
  display: flex; /* ให้ไอคอนและข้อความอยู่ในแนวเดียวกัน */
  align-items: center; /* จัดกลางไอคอนและข้อความแนวตั้ง */
  justify-content: center; /* จัดกลางแนวนอน */
  gap: 10px; /* ระยะห่างระหว่างไอคอนและข้อความ */
  font-weight: 500; /* ทำให้ข้อความหนาขึ้นเล็กน้อย */
  width: 100%; /* ให้ปุ่มกว้างเท่ากับคอนเทนเนอร์ */
  max-width: 250px; /* กำหนดขนาดสูงสุดของปุ่ม */
  margin-top: 20px; /* ระยะห่างจากฟอร์มหรือส่วนอื่นๆ */
}

.loginButtonGoogle:hover {
  background-color: #357ae8; /* สีเมื่อ hover */
}

.dividerContainer {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.dividerLine {
  flex: 1;
  height: 1px;
  background-color: #ddd; /* สีของเส้นแบ่ง */
}

.dividerText {
  margin: 0 10px;
  color: #888; /* สีของข้อความ "or" */
}