.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดกลางแนวตั้ง */
}

.logoContainer {
    margin-bottom: 20px; /* เพิ่มระยะห่างจากฟอร์ม */
}

.form {
    width: 100%;
    max-width: 500px; /* จำกัดขนาดสูงสุดของฟอร์ม */
    margin-top: 20px; /* เพิ่มระยะห่างจากโลโก้ */
    display: flex;
    flex-direction: column;
}
  
  .form input,
  .form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form button:hover {
    background-color: #45a049;
  }
  